<app-card title="First Component" color="#3D4D63">
  <app-first-component></app-first-component>
</app-card>
<hr>
<app-card title="Aprofundadno o conhecimento em templates" color="#B2E7E8">
  <app-second-component></app-second-component>
</app-card>
<hr>
<app-card title="Pipes" color="#BFB9AA">
  <app-pipe-customized></app-pipe-customized>
</app-card>
<hr>
<app-card title="Two-way Data Binding" color="#F2D096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<hr>
<app-card title="Renderizando Listas" color="#ED8975">
  <app-rendering-lists></app-rendering-lists>
</app-card>
<hr>
<app-card title="Componentes Personalizados (Input)" color="#FFE3DC">
  <app-custom-component name="João" surname="da Silva"></app-custom-component>
  <app-custom-component name="Maria" surname="da Silva"></app-custom-component>
</app-card>
<hr>
<app-card title="Compartilhando dados entre componentes" color="#A2AD91">
  <app-parent-component></app-parent-component>
</app-card>
<hr>
<app-card title="Serviços" color="#3A2D32">
  <app-service1-example></app-service1-example>
  <app-service2-example></app-service2-example>
</app-card>
<hr>
<app-card title="Ciclo de Vida">
  <app-parent-lifecycle></app-parent-lifecycle>
</app-card>
